@mixin accordion-button-component {
  padding: 4px 20px 4px 4px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}

.container {
  font-family: ui-monospace, SFMono-Regular, SZ Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;

  dl dd {
    margin-left: 40px;
  }

  .title button {
    float: right;
    margin-top: 6px;
  }

  .header {
    padding: 16px 20px;
  }

  .identified-value {
    background-color: #FA98FA;
  }

  .semantic-version {
    border: #FA98FA solid;
  }

  .ignored-key {
    background-color: #CCC;
  }

  .matched-value {
    background-color: #98FB98;          // or #FCC, #D9E5FF
  }

  .accordion {
    .accordion-header {
      button {
        .ratio {
          @include accordion-button-component;
          flex-basis: 10%;
        }
        .fileType {
          @include accordion-button-component;
          flex-basis: 10%;
        }
        .metadata {
          @include accordion-button-component;
          flex-basis: 90%;
        }
        .description{
          @include accordion-button-component;
          flex-basis: 80%
        }
        .warning {
          background-color: #e0ae00;
        }
      }
    }
    .accordion-body {
      .show-diff {
        .modal {
          .modal-body {
            iframe {
              position: absolute;
              border: none;
              height: 100%;
              width: 100%
            }
            .carousel {
              .carousel-inner {
                background-color: #efefef;
                .centered {
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  text-align: center;
                }
              }
              .carousel-control-prev, .carousel-control-next {
                width: 12.5%
              }
            }
          }
        }
      }
      .show-detail {
        margin-top: 10px;
        margin-bottom: 40px;
      }
    }
  }
}


